body{

    background: #eee;
    background-image: url("image2.jpg");
}

#frm{

           border: solid gray 1px;
           width: 25%;
           border-radius: 2px;
           margin: 120px auto;
           background: white;
           padding: 60px;
}

#btn{
   color: #fff;
   background: #337ab7;
   padding: 6px 7px;
   margin-left: 70%;
}   

a{
 color: green;
   font-size: 15px;
}
h2{

  font-family: sans-serif;
  color: dodgerblue;
  text-shadow:3px 3px green;

}